@use "../../scss/utils" as *;
@use "../../scss/vars" as *;

.hoursInput {
	width: 30%;
	flex: 1 auto;
	// @include ad-value("padding", 8, 6, 0, 1600, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default !important;
	@include ad-value("font-size", 14, 12, 0, 1600, 1);
	font-weight: 600;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type="time"]::-webkit-datetime-edit-fields-wrapper {
	display: flex;
	justify-content: center !important;
	align-items: center;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type="time"]::-webkit-datetime-edit-text {
	padding: 0px 4px;
}

input[type="time"]::-webkit-datetime-edit-hour-field {
	border-radius: 4px;
	padding: 3px 5px;
	transition: 0.5s $ease-info-button;
	cursor: text;
}
input[type="time"]::-webkit-datetime-edit-minute-field {
	border-radius: 4px;
	cursor: text;

	padding: 3px 5px;
	transition: 0.5s $ease-info-button;
}
input[type="time"]::-webkit-datetime-edit-minute-field:focus {
	background: $blue1;
	color: #fff;
}

[type="date"] {
	background: transparent url(/assets/images/calendar.png) 97% 50% no-repeat !important;
	display: none;
}
[type="date"]::-webkit-inner-spin-button {
	display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	display: none;
}

[type="time"]::-webkit-inner-spin-button {
	display: none;
}
[type="time"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	display: none;
}
