@use "../../../../scss/utils" as *;
@use "../../../../scss/vars" as *;

.list {
	height: 100%;
	aspect-ratio: 1;
	border-radius: $border1;
	background: $blackgreen;
	transition: box-shadow ease 0.4s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 0px 0px 1.5px $green inset;
		}
	}
}
.listClick {
	box-shadow: 0px 0px 0px 1.5px $green inset;
}
