@use "../../../scss/utils" as *;
@use "../../../scss/vars" as *;

.photos {
	width: 100%;
}
.cont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
.img {
	border-radius: $border1 * 1.5;
}
