@use "../../scss/utils" as *;
@use "../../scss/vars" as *;

.nav {
	@include ad-value("height", 46, 40, 0, 1600, 1);
	@include ad-value("padding", 6, 5.5, 0, 1600, 1);
	width: calc(18vw + 170px);
	box-shadow: 0px 12px 32px 0px #00000050;
	border-radius: 30px;
	display: flex;
	transition: 0.6s cubic-bezier(0.52, 0, 0.45, 1.53);
	transition-property: width border-radius;
	align-items: center;
	max-width: 540px;
	will-change: auto;
	position: relative;
	cursor: default;
	@media (any-hover: hover) {
		cursor: pointer;
	}
}
.cont {
	height: 100%;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3px;
	margin-right: 2px;
}
.text {
	@include ad-value("font-size", 13, 11, 0, 1600, 1);
	flex: 1 auto;
	display: flex;
	align-items: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.letter {
	display: block;
	transform: translateY(-150%);
	opacity: 0;
	animation: text-preload 0.6s forwards;
	animation-timing-function: $ease-bounce1;
	will-change: auto;
}

@keyframes text-preload {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.animCont {
	opacity: 0;
	left: 0;
	bottom: 100%;
	width: 100%;
	transform: scaleX(0.1);
	position: absolute;
	transition: 0.6s cubic-bezier(0.5, 0, 0.8, 1.4);
	transition-delay: 0.3s;
	transform-origin: center center;
	will-change: transform, opacity;
}

.animContActive {
	transform: scaleX(1);
	opacity: 1;
	transition-delay: 0s;
}

.menuCreate {
	height: 400px;
	width: 100%;
	border-radius: 12px;
	box-shadow: 0px 4px 80px 4px #0000000d;
	transform: scaleY(0.1);
	transition: 0.6s cubic-bezier(0.5, 0, 0.8, 1.4);
	transition-delay: 0s;
	transform-origin: bottom center;
	background: #fff;
	will-change: transform;
	@include ad-value("margin-bottom", 10, 6, 0, 1600, 1);
}

.menuCreateActive {
	transition-delay: 0.4s;
	transform: scaleY(1);
}
