@use "../../scss/vars" as *;
@use "../../scss/utils" as *;

.sidebar {
	height: 100dvh;
	top: 0;
	left: 0;
	@include ad-value("padding", $paddingmax1, $paddingmin1, 0, 1200, 1);
	position: fixed;
	&::before {
		content: "";
		position: absolute;
		top: 3%;

		right: 0;
		height: 94%;
		width: 2px;
		border-radius: 5px;
		background: $blackgreen;
	}
}
@media (width < 768px) {
	.sidebar {
		display: none;
	}
}
