@use "../../scss/vars" as *;
@use "../../scss/utils" as *;

.sidebar {
	height: 100%;
	@include ad-value("padding", $paddingmax1, $paddingmin1, 0, 1200, 1);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 2%;
		right: 0;
		height: 96%;
		width: 2.5px;
		border-radius: 5px;
		background: $blackgreen;
	}
}
@media (width < 768px) {
	.sidebar {
		display: none;
	}
}
