@use "../../scss/utils" as *;
@use "../../scss/vars" as *;

.wrapper {
	@include ad-value("padding", 18, 10, 0, 1600, 1);
	padding-top: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	@include ad-value("height", 44, 38, 0, 1600, 1);
	@include ad-value("padding", 7, 6, 0, 1600, 1);
	width: calc(18vw + 170px);
	box-shadow: 0px 8px 44px 0px #ababab;
	border-radius: 30px;
	display: flex;
	align-items: center;
}

.cont {
	height: 100%;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3px;
}
.increment {
	@include ad-value("height", 13, 10, 0, 1600, 1);
	position: relative;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before,
	&::after {
		content: "";
		position: absolute;
		background: #fff;
		width: 2px;
		height: 100%;
		border-radius: 5px;
	}
	&::after {
		transform: rotate(90deg);
	}
}

.text {
	@include ad-value("font-size", 14, 10, 0, 1600, 1);
	flex: 1 auto;
}
.button {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 20px;
	@include ad-value("margin-left", 4, 3, 0, 1600, 1);
}
