@use "../../../scss/utils" as *;
@use "../../../scss/vars" as *;

.forms {
	height: 100%;
	display: flex;
	width: 80%;
	position: relative;
	max-width: 600px;
}

.container {
	@include ad-value("padding-right", $paddingmax3, $paddingmin3, 0, 1200, 1);
	@include ad-value("padding-left", $paddingmax3, $paddingmin3, 0, 1200, 1);
	flex: 1 auto;
	height: 100%;

	display: flex;
	align-items: center;
	background: $blackgreen;
	border-radius: $border1;
	&:hover .animation {
		@include ad-value(
			"margin-left",
			$paddingmax3 - 4,
			$paddingmin3 - 4,
			0,
			1200,
			1
		);
		opacity: 1;
		transform: scaleY(1) translateX(0);
	}
}

.input {
	@include ad-value("padding-left", $paddingmax3, $paddingmin3, 0, 1200, 1);
	padding-top: 2px;
	@include ad-value("font-size", 13, 11, 0, 1200, 1);
	height: 100%;
	width: 100%;
	background: transparent;
	transition: auto ease 0.4s;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	&::placeholder {
		color: $gray;
	}
}

.animation {
	opacity: 0;
	height: 55%;
	transform: scaleY(0.25) translateX(4px);
	aspect-ratio: 1/5;
	@include ad-value(
		"border-radius",
		$tagsItemmax * 0.65,
		$tagsItemmin * 0.65,
		0,
		1200,
		1
	);
	background: $green;
	display: flex;
	transition: $transition1;
	will-change: auto;
	position: relative;
	cursor: default;
	will-change: auto;
	@media (any-hover: hover) {
		cursor: pointer;
	}
	&::after,
	&::before {
		transition: ease 0.3s;
		content: "";
		position: absolute;
		border-radius: 4px;
		transform: rotate(45deg);
		width: 1.75px;
		height: 0%;
		background: $white;
	}
	&::before {
		transition: ease 0.3s 0.1s;
		transform: rotate(-45deg);
	}
}
.animationClick {
	@include ad-value(
		"margin-left",
		$paddingmax3 - 4,
		$paddingmin3 - 4,
		0,
		1200,
		1
	);
	aspect-ratio: 1;
	opacity: 1;
	transform: scaleY(1) translateX(0);
}
.animationLineClick {
	transition: ease 0.4s;
	&::after,
	&::before {
		transition-delay: 0.1s;
		height: 54%;
	}
	&::before {
		transition-delay: 0s;
	}
}

.filters {
	height: 300%;
	width: 100%;
	max-width: 350px;
	border-radius: $border1;
	background: $blackgreen;
	position: absolute;
	transform-origin: top right;
	right: 0;
	opacity: 0;
	transition: 0.3s ease;
	top: 100%;
	margin-top: -24px;
	pointer-events: none;
	will-change: auto;
}
.filtersClick {
	opacity: 1;
	@include ad-value("margin-top", $paddingmax3, $paddingmin3, 0, 1200, 1);
	pointer-events: all;
}
