@use "../../../scss/utils" as *;
@use "../../../scss/vars" as *;

.button {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 20px;
	@include ad-value("margin-left", 4, 3, 0, 1600, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.border {
	display: block;
	width: 44%;
	aspect-ratio: 1;
	box-shadow: 0px 0px 0px 1px #fff;
	border-radius: 10px;
	pointer-events: none;
	transition: 0.6s $ease;
}
.borderActive {
	scale: 1.03;
	box-shadow: 0px 0px 0px 1px #00dc54;
	border-radius: 2px;
}
.resize {
	position: absolute;
	width: 46%;
	aspect-ratio: 1;
	transition: 0.6s $ease;
	&:hover {
		scale: 1.05;
	}
	pointer-events: none;
}
.resizeActive {
	scale: 0.8;
	opacity: 0;
}
.resizeActive2 {
	opacity: 1;
	scale: 1;
}
