@use "./scss/utils" as *;
@use "./scss/vars" as *;

.gray1-bg {
	background: $gray1;
}
.gray1-co {
	color: $gray1;
}
.gray2-bg {
	background: $gray2;
}
.gray2-co {
	background: $gray2;
}
.black1-bg {
	background: $black1;
}
.black1-co {
	color: $black1;
}
