@use "./scss/utils" as *;
@use "./scss/vars" as *;
@import "./scss/reset";

.wrapper {
	min-height: 100%;
	width: 100%;
}

button,
a {
	cursor: default;
	@media (any-hover: hover) {
		cursor: pointer;
	}
}

input {
	cursor: default;
	@media (any-hover: hover) {
		cursor: text;
	}
}
