// -------------- vars ---------------
// -----------------------------------
@use "../scss/utils" as *; // -------------- colors -------------
$balck: #12121b;
$gray: #c4c4c4;
$green: #84cf82;
$blackgreen: #1a1b20;
$blue: #2965ff;
$white: #fff;

$paddingmax1: 16;
$paddingmin1: 12;
$paddingmax3: 14;
$paddingmin3: 10;

$heightmax1: 40;
$heightmin1: 30;

$border1: 10px;
