// -------------- vars ---------------
// -----------------------------------
@use "../scss/utils" as *; // -------------- colors -------------
$balck: #12121b;
$gray: #c4c4c4;
$green: #84cf82;
$blackgreen: #1a1b20;
$blue: #2965ff;
$white: #fff;

$paddingmax1: 18;
$paddingmin1: 15;
$paddingmax3: 16;
$paddingmin3: 12;

$heightmax1: 44;
$heightmin1: 38;

$border1: 10px;
