@use "../../../scss/utils" as *;
@use "../../../scss/vars" as *;

.wrapper {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
}

.input {
	flex: 1 auto;
	height: 100%;
}
.cont {
	display: flex;
	right: 0;
	justify-content: center;
	height: 100%;
	align-items: center;
	@include ad-value("padding", 8, 6, 0, 1600, 1);
	position: absolute;
}
.tag {
	height: 100%;
	display: flex;
	white-space: nowrap;
	justify-content: center;
	@include ad-value("padding", 10, 8, 0, 1600, 1);
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	background: #fff;
	color: gray;
	transition: ease 0.4s;
	transform: tanslateX(14px);
	transform-origin: center right;
}
