@use "../../../scss/utils" as *;
@use "../../../scss/vars" as *;

.wrapper {
	display: flex;
	align-items: center;
}

.input {
	height: 100%;
	z-index: 9;
	background: #000;
	position: relative;
}
.cont {
	display: flex;
	justify-content: center;
	background: #000;
	height: 100%;
	align-items: center;
	@include ad-value("padding", 8, 6, 0, 1600, 1);
	position: relative;
	z-index: 10;
}
.tag {
	height: 100%;
	display: flex;
	white-space: nowrap;
	justify-content: center;
	@include ad-value("padding", 10, 8, 0, 1600, 1);
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	background: #fff;
	color: gray;
	transition: ease 0.4s;
	transform: tanslateX(14px);
	transform-origin: center right;
}
